@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
body {
    font-size: 16px;
    font-family: Dancing Script;
    margin: 10;
    background-color: #000;
}

header {
    background: #5b7989;
    height: 80px;
    border-radius: 10px 10px 0 0;
}

.site-name {
    float: left;
    color: #fff;
    padding: 20px 0 0 20px;
    text-decoration: none;
    display: block;
    font-weight: 700;
    font-size: 2em;
    text-shadow: 2px 2px #02010a;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    padding-right: 20px;
}

nav ul li {
    display: inline-block;
    padding-top: 30px;
}

nav ul li a {
	color: #fff;
	font-size: 1.2em;
    padding: 0 15px;
    text-decoration: underline;
}

nav ul li a:hover {
	text-decoration: none;
}