@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
body {
    font-size: 16px;
    font-family: Dancing Script;
    margin: 10px;
    background-color: #000;
}

header {
    background: #5b7989;
    height: 80px;
    border-radius: 10px 10px 0 0;
}

.site-name {
    color: #fff;
    padding: 20px 0 0 20px;
    text-decoration: none;
    display: block;
    font-weight: 700;
    font-size: 2em;
    text-shadow: 2px 2px #02010a;
}

nav ul {
    margin: 0;
    padding: 0;
    padding-right: 20px;
}

nav ul li {
    display: inline-block;
    padding-top: 30px;
}

nav ul li a {
    color: #fff;
    font-size: 1.2em;
    padding: 0 15px;
    text-decoration: underline;
}

nav ul li a:hover {
    text-decoration: none;
}

.img-primary {
    background-color: #82c3a6;
    text-align: center;
}

.img-primary img {
    height: 300px;
    margin: 10px 0px 10px 0px;
    box-shadow: 2px 2px 7px #000;
}

.img-secundary {
    background-color: #d5c75f;
    padding: 20px;
    border-top: 1px solid black;
}

.col-secundary {
    width: 100%;
    height: 250px;
    text-align: center;
}

.img-secundary a {
    text-decoration: none;
}

.col-secundary img {
    width: 80%;
    height: 90%;
    box-shadow: 2px 2px 7px #000;
}

.col-secundary p {
    margin-top: 0;
    color: #000;
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: underline;
}

.col-secundary p:hover {
    text-decoration: none;
}

.animacion1 {
    transition: transform 0.5s;
}

.animacion1:hover {
    transform: rotate(10deg);
}

.animacion2 {
    transition: transform 0.5s;
}

.animacion2:hover {
    transform: translate(20px, -5px);
}

footer {
    background-color: #C6d5c5;
    border-top: 1px solid black;
    border-radius: 0 0 10px 10px;
}

footer div {
    width: 100%;
    height: 250px;
    text-align: center;
}

footer div h2 {
    font-weight: bold;
    font-size: 1.7em;
    color: #000;
    text-shadow: 1px 1px #02010a;
}

footer div p {
    font-weight: bold;
    font-size: 1.2em;
    color: #000;
    text-decoration: none;
}

.contenedor {
    background-color: #d5c75f;
    padding: 15px;
}

.gallery {
    width: 100%;
    height: 250px;
    text-align: center;
}

.gallery img {
    width: 80%;
    height: 90%;
    box-shadow: 2px 2px 7px #000;
}

.filtro-grayscale img {
    filter: grayscale(100%);
}

.filtro-blur img {
    filter: blur(10px);
}

.filtro-sepia img {
    filter: sepia(90%);
}


/*vercion movil*/

@media (max-width:900px) {
    header {
        height: 100%;
    }
    nav {
        text-align: center;
    }
    .site-name {
        text-align: center;
    }
    .img-primary img {
        width: 100%;
        margin: 10px 0px 10px 0px;
        box-shadow: 2px 2px 7px #000;
    }
    .col-secundary {
        margin-bottom: 15px;
    }
    .contenedor {
        padding-bottom: 0px;
    }
    footer div {
        height: 100%;
    }
}

@media (min-width:900px) {
    nav {
        float: right;
    }
    .site-name {
        float: left;
    }
    footer {
        display: flex;
    }
    .contenedor {
        display: flex;
    }
    .img-secundary {
        display: flex;
    }
}